<div class="resources_page text-center">

	<div class="row">
  		<div class="col-xs-6 col-md-3">
    		<a href="http://www.aima.in/" class="thumbnail">
      			<div class="thumbnail-img">
      				<%= image_tag("aimalogo.jpg") %>
      			</div>
      			<div class="caption"><h5>All India Management Association</h5></div>
    		</a>
  		</div>
  		
  		<div class="col-xs-6 col-md-3">
  		    <a href="http://static.icmci.org/about_icmci" class="thumbnail">
      			<div class="thumbnail-img">
      				<%= image_tag("ICMCI.png" , :style => "margin-top: 2em") %>
      			</div>
      			<div class="caption"><h5>International Council of Management Consultant Institutes</h5></div>
    		</a>
  		</div>
  		

	</div>
	
	<h4></h4>
	
	<h4>Magazines that deal with Management Consulting</h4>
	
	<div class="row">
  		<div class="col-xs-6 col-md-3">
    		<a href="http://www.consulting-times.com" class="thumbnail">
      			<div class="thumbnail-img">
      				<%= image_tag("CTcover.jpg")%>	
      			</div>
      			<div class="caption"><h5>Consulting Times</h5></div>
    		</a>
  		</div>
  		
  		<div class="col-xs-6 col-md-3">
    		<a href="http://www.consultingmag.com" class="thumbnail">
      			<div class="thumbnail-img">
      				<%= image_tag("ConsultingMag.jpg", :style => "margin-top: 5.5em") %>
      			</div>
      			<div class="caption"><h5>Consulting</h5></div>
    		</a>
  		</div>
  		
  		<div class="col-xs-6 col-md-3">
    		<a href="http://www.indianmanagement.org" class="thumbnail">
      			<div class="thumbnail-img">
      				<%= image_tag("indManagement.jpg") %>
      			</div>
      			<div class="caption"><h5>Indian Management</h5></div>
    		</a>
  		</div>
  		
  		<div class="col-xs-6 col-md-3">
    		<a href="http://www.infoagepub.com/assets/files/catalogs/series/RMC-Catalogue_2014.pdf" class="thumbnail">
      			<div class="thumbnail-img">
      				<%= image_tag("iap.jpg", :style => "margin-top: 5.5em") %>
      			</div>
      			<div class="caption"><h5>Research in Management Consulting</h5></div>
    		</a>
  		</div>
  		
  		<div class="col-xs-6 col-md-3">
    		<a href="http://www.ilo.org/global/lang--en/index.htm" class="thumbnail">
      			<div class="thumbnail-img">
      				<%= image_tag("d4wcms_046345.gif" , :style => "margin-top: 5.5em") %>
      			</div>
      			<div class="caption"><h5>Milan Kubr on Management Consulting</h5></div>
    		</a>
  		</div>
  		
  		<div class="col-xs-6 col-md-3">
    		<a href="http://www.consultingfact.com/blog/top-10-management-consulting-firms-in-2014" class="thumbnail">
      			<div class="thumbnail-img">
      				<%= image_tag("consultingfact_logo.png" , :style => "margin-top: 5.5em") %>
      			</div>
      			<div class="caption"><h5>Top 10 Consulting Firms</h5></div>
    		</a>
  		</div>  		
	</div>
</div>