<p id="notice"><%= notice %></p>

<p>
  <strong>Membershipid:</strong>
  <%= @db_member.MembershipId %>
</p>

<p>
  <strong>Membershiptype:</strong>
  <%= @db_member.MembershipType %>
</p>

<p>
  <strong>Certified:</strong>
  <%= @db_member.Certified %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @db_member.Prefix %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @db_member.FirstName %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @db_member.MiddleName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @db_member.LastName %>
</p>

<p>
  <strong>Title:</strong>
  <%= @db_member.Title %>
</p>

<p>
  <strong>Shortsummary:</strong>
  <%= @db_member.ShortSummary %>
</p>

<p>
  <strong>Fullsammary:</strong>
  <%= @db_member.FullSammary %>
</p>

<p>
  <strong>Address:</strong>
  <%= @db_member.Address %>
</p>

<p>
  <strong>City:</strong>
  <%= @db_member.City %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @db_member.Pin %>
</p>

<p>
  <strong>Mobilephone:</strong>
  <%= @db_member.MobilePhone %>
</p>

<p>
  <strong>Landline:</strong>
  <%= @db_member.LandLine %>
</p>

<p>
  <strong>Emailprimary:</strong>
  <%= @db_member.EmailPrimary %>
</p>

<p>
  <strong>Email:</strong>
  <%= @db_member.Email %>
</p>

<p>
  <strong>Secondary:</strong>
  <%= @db_member.Secondary %>
</p>

<p>
  <strong>Websiteprimary:</strong>
  <%= @db_member.WebsitePrimary %>
</p>

<p>
  <strong>Websitesecondary:</strong>
  <%= @db_member.WebsiteSecondary %>
</p>

<p>
  <strong>Displayorder:</strong>
  <%= @db_member.DisplayOrder %>
</p>

<p>
  <strong>Active:</strong>
  <%= @db_member.active %>
</p>

<p>
  <strong>Isadmin:</strong>
  <%= @db_member.IsAdmin %>
</p>

<%= link_to 'Edit', edit_db_member_path(@db_member) %> |
<%= link_to 'Back', db_members_path %>
