<%= form_for(@contact_form) do |f| %>
  <% if @contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
      <% @contact_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br>
    <%= f.text_field :Phone %>
  </div>
  <div class="field">
    <%= f.label :EmailId %><br>
    <%= f.text_field :EmailId %>
  </div>
  <div class="field">
    <%= f.label :Message %><br>
    <%= f.text_field :Message %>
  </div>
  <div class="field">
    <%= f.label :extrfield %><br>
    <%= f.text_field :extrfield %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
