

<nav class="navbar navbar-default header-block" role="navigation">
   <div class="navbar-header">
   	  <div class="navbar-brand">
   	  	<a href="/home"> <%= image_tag("logo.jpg", :class => "header-logo pull-left") %></a>
   	  </div>
   	   <table class="nav navbar-nav pull-left visible-phone">
		<tbody>
			<tr><td class="siteTitle">
   				<b>
   	  				THE INSTITUTE OF MANAGEMENT CONSULTANTS OF INDIA<br>HYDERABAD CHAPTER
   				</b>
   			</td></tr>
   			<tr><td> 
   				
   				
   				<a class="socialnestwordsites" href="https://www.facebook.com/imci.hyderabad"> <%= image_tag("facebook-page-logo.jpg", :class=> "socialnestwordsitesimage") %> </a>
   				<a class="socialnestwordsites" href="https://www.linkedin.com/groups/IMCI-Hyderabad-3644753/about"> <%= image_tag("LinkedIn-Logo.png", :class=> "socialnestwordsitesimage") %>  </a>
   			</td></tr>
   		</tbody>
   	</table>
      
      <button type="button" class="navbar-toggle span12" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button
   </div>
  <div class="collapse navbar-collapse" id="example-navbar-collapse">
   <table class="nav navbar-nav pull-left hidden-phone">
		<tbody>
			<tr><td class="siteTitle">
   				<b>
   	  				THE INSTITUTE OF MANAGEMENT CONSULTANTS OF INDIA<br>HYDERABAD CHAPTER
   				</b>
   			</td></tr>
   			<tr><td> 
   				
   				
   				<a class="socialnestwordsites" href="https://www.facebook.com/imci.hyderabad"> <%= image_tag("facebook-page-logo.jpg", :class=> "socialnestwordsitesimage") %> </a>
   				<a class="socialnestwordsites" href="https://www.linkedin.com/groups/IMCI-Hyderabad-3644753/about"> <%= image_tag("LinkedIn-Logo.png", :class=> "socialnestwordsitesimage") %>  </a>
   			</td></tr>
   		</tbody>
   	</table>
   
	
		<ul class="nav navbar-nav pull-right">
        	<li class="header-menuitem"><a href="/home">Home</a></li>
	        <li class="header-menuitem"><a href="/aboutus">About Us</a></li>
	        <li class="header-menuitem"><a href="/activities">Activities</a></li>
	        <li class="header-menuitem"><a href="/members">Members</a></li>
	        <li class="header-menuitem"><a href="/resources">Resources</a></li>
	        <li class="header-menuitem"><a href="/contactus">Contact Us</a></li> 
   		</ul>
   </div>
</nav>
