<div class="members-page">
	
<h3>Members </h3>

<div class="row">
	<div class="col-sm-3">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#BecomeMember " data-toggle="tab">Become a member</a></li>
			<li><a href="#BenefitsOfBecomingIMCIMember" data-toggle="tab">Benefits of becoming IMCI Hyderabad member </a></li>
			<li><a href="#SomeKeyProfiles" data-toggle="tab">Some key profiles</a></li>
			<li><a href="#FindaConsultant" data-toggle="tab">Find a Consultant</a></li>
		</ul>
	</div><!-- col -->

	<div class="col-sm-9">
		<div class="tab-content">
			<div class="tab-pane active" id="BecomeMember">
			
			<h4 style="color:blue">ELIGIBILITY  </h4>

    
    
    <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#eligibilityOne">
          Individual Member
        </a>
      </h4>
    </div>
    <div id="eligibilityOne" class="panel-collapse collapse in">
      <div class="panel-body">
      This category of membership is open to those who have been engaged in the independent, full time practice of Management Consultancy either as a principal or an employee of a Management Consulting Organisation for at least three years, over 27 years of age and must possess suitable qualifications.
 <br>(OR)
<br>For Business School Faculty:
<br>- He must have been an Associate Member of the Institute for at least three years.
<br>- He must have at least 300 hours per year, of experience in consulting and/or research in management.
<br>- Must be a "Professor" or "Reader" (or equivalent) for at least one year in a Business School recognized by the All India Council for Technical Education (AICTE).  
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#eligibilityTwo">
          Affiliate Member
        </a>
      </h4>
    </div>
    <div id="eligibilityTwo" class="panel-collapse collapse">
      <div class="panel-body">
        This category is open to those who are least 21 years of age and engaged in the independent practice of Management Consulting either as a Principal or an employee of a Management Consulting Organisation, and must possess suitable qualifications.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#eligibilityThree">
          Associate Member
        </a>
      </h4>
    </div>
    <div id="eligibilityThree" class="panel-collapse collapse">
      <div class="panel-body">
        This category is open to those who are over 21 years of age and a faculty member/research associate of a business school/management institute, which is recognized by the All India Council for Technical Education (AICTE).
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#eligibilityFour">
          Student Affiliate
        </a>
      </h4>
    </div>
    <div id="eligibilityFour" class="panel-collapse collapse">
      <div class="panel-body">
        This category is open to students of business schools recognised by All India Council for Technical Education (AICTE), or of Diploma in Management Consulting of IMCI. Student Membership is valid for a maximum of two years.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#eligibilityFive">
          Member of College of Consulting Firms
        </a>
      </h4>
    </div>
    <div id="eligibilityFive" class="panel-collapse collapse">
      <div class="panel-body">
        Organizations which are separate entities or divisions of firms, companies or other entities that have been in full time management consultancy business for at least three continuous years are eligible to become members of the College of Consulting Firms of the IMCI, if at least 25% or two, whichever is, more of Senior Consultants of the organisation are individual members of the IMCI. Organisations are divided between Small, Medium and Large, based on the total number of professional staff employees.
      </div>
    </div>
  </div>
</div>

<h4 style="color:blue">RIGHTS & PRIVILEGES  </h4>

    
    
    <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#rightPrivilageOne">
          Individual Member
        </a>
      </h4>
    </div>
    <div id="rightPrivilageOne" class="panel-collapse collapse in">
      <div class="panel-body">
  		Individual Members shall be entitled to all the rights and privileges of membership of the IMCI. They shall be referred to as voting members of the IMCI, provided they are members in good standing.    
  	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#rightPrivilageTwo">
          Affiliate Members, Associate Members & Student Affiliates
        </a>
      </h4>
    </div>
    <div id="rightPrivilageTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Affiliate Members, Associate Members & Student Affiliates shall be entitled to all rights and privileges of membership of the IMCI excluding (1) voting rights (2) holding elected office at National / Chapter level (3) Use of suffix CMC / MIMC. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#rightPrivilageThree">
          Members of the College of Consulting Firms 
        </a>
      </h4>
    </div>
    <div id="rightPrivilageThree" class="panel-collapse collapse">
      <div class="panel-body">
        shall be entitled to all rights and privileges applicable to the Colleges as laid out in the Constitution and will be entitled to elect representatives who are individual members of the Institute to the Executive Committee of the IMCI. 
      </div>
    </div>
  </div>
</div>

<p></p>

<p>All Individual Members who join IMCI are required to clear the Process of Certification consisting of Written Examination, Presentation and Viva Voce and Two Client Referrals, after which they can use the title CMC ® (Certified Management Consultant). Until then, they can use the title MIMC (Member of the Institute of Management Consultant).
</p>

				<div class="span12">
					<div class="span3"></div>
					<%= image_tag("CMC Logo Gold.gif", :class => "pull-left pull-down") %>
				</div>
	
				<p>CMC Certification by IMCI is a mark of excellence among all management consultants.</p>  
	
				<p><i>The information and views set out in this [report/study/article/publication/blog etc…] are those of the author(s) and do not necessarily reflect the official opinion of The Institute of Management Consultants of India. Neither the IMCI and bodies nor any person acting on their behalf may be held responsible for the use which may be made of the information contained therein.
				<a href="http://www.imcindia.co.in/benefits">more</a> 
				
				</i>
				
				</p>

			
			
			</div>
			
			
			
			<div class="tab-pane" id="BenefitsOfBecomingIMCIMember">
				<table class="table table-striped table-bordered">
				<tbody>
					<tr><td>

				    Plenty of Networking and Fellowship opportunities.
				    </td></tr>
					<tr><td>
				    Access to Members Database.
				    </td></tr>
					<tr><td>
				    Opportunity to place your CV and Photograph on ICMCI Global Consultants Search Engine.
				    </td></tr>
					<tr><td>
				    Working towards achieving the globally reciprocated standard of Certified Management Consultant (CMC®).
				    </td></tr>
					<tr><td>
				    Enrolling in our DMC (Diploma in Management Consultancy) and e-DMC.
				    </td></tr>
					<tr><td>
				    Free hosting of on the imcindia website indicating your consultancy areas.
				    </td></tr>
					<tr><td>
				    Special discount on all IMCI Programmes and programmes of other associated professional bodies.
				    </td></tr>
					<tr><td>
				    Opportunities to contribute to growth of Management Consulting as a profession.
				    </td></tr>
					<tr><td>
				    Special discounts on international publications of ICMCI (C2M Magazine).
				    </td></tr>
					<tr><td>
				    Opportunity to present your writing/research at our Annual Conventions and in our magazine and Newsletters.
				    </td></tr>
					<tr><td>
				    And many more exciting way of enhancing your skills, knowledge and visibility.
				    </td></tr>
				</tbody>	
				</table>
			
				<div class="span12">
					<div class="span3"></div>
					<%= image_tag("CMC Logo Gold.gif", :class => "pull-left pull-down") %>
				</div>
	
				<p>CMC Certification by IMCI is a mark of excellence among all management consultants.</p>  
	
				<p><i>The information and views set out in this [report/study/article/publication/blog etc…] are those of the author(s) and do not necessarily reflect the official opinion of The Institute of Management Consultants of India. Neither the IMCI and bodies nor any person acting on their behalf may be held responsible for the use which may be made of the information contained therein.
				<a href="http://www.imcindia.co.in/benefits">more</a> 
				
				</i>
				
				</p>

			</div>
			<div class="tab-pane" id="SomeKeyProfiles">

			<table class="table keymember-table">
				<tbody>
					<tr><td>
						<div>
							<div class="span2">
								
								<%= image_tag("BRVirmani.jpg", :class => "member-image") %>
							</div>
							<div>
								<b>Prof. B.R. Virmani</b>
								<br><i>40 years of experience | Worked in National & International companies</i>
								<br><br>
								<span class="label label-primary">Strategic Management</span>
								<span class="label label-info">Institution Building</span>
								<span class="label label-primary">HRM</span>
								<span class="label label-info">Organization Restructuring</span>
								<span class="label label-primary">Technology Transfer</span>
								<span class="label label-info">Training Evaluation </span>
								<br>
								<br><i>Mail: <a href="mailto:brvcordem@rediffmail.com">brvcordem@rediffmail.com</a> Website: <a href="http://www.cord-m.com">www.cord-m.com</a></i> 
								
							</div>
					
					</td></tr>
					<tr><td>
					</td></tr>
					<tr><td>
						<div>
							<div class="span2">
								
								<%= image_tag("ID Prasad.png", :class => "member-image", :alt => "ID Prasad") %>
							</div>
							<div>
								<b>ID Prasad</b>
								<br><i>37 years of experience | Worked in TDA, GoI, J&KITCO, APITCO</i>
								<br><br>
								<span class="label label-primary">Micro Enterprise Development</span>
								<span class="label label-info">MSME Cluster Development</span>
								<span class="label label-primary">Market & Industry Research</span>
								<span class="label label-info">Developed APITCO, 14 clusters, 20 innovative technologies</span>
								
								<br>
								<br><i>Mail: <a href="mailto:prasadscsp@gmail.com ">prasadscsp@gmail.com </a> Website: <a href="www.scsgroup.in">www.scsgroup.in</a></i> 
								
							
							</div>
					</td></tr>
					
					<tr><td>
					</td></tr>
					<tr><td>
						<div>
							<div class="span2">
								
								<%= image_tag("A Gopala Krishna .png", :class => "member-image", :alt => "A Gopala Krishna ") %>
							</div>
							<div>
								<b>A Gopala Krishna </b>
								<br><i>27 years of experience  | Finance and Consulting professional, Focuses on Food and Agribusiness; Value Chains, SME and Rural Finance – specially Financial Inclusion and Financial Literacy</i>
								<br><br>
								<span class="label label-primary">Evolving and implementing Business Models</span>
								<span class="label label-info">Business or Institutional Audits and Assessment</span>
								
								<br>
								<br><i>Website: <a href="www.agribiz.co.in ">www.agribiz.co.in </a></i> 
								
							
							</div>
					</td></tr>
					
					
					<tr><td>
					</td></tr>
					<tr><td>
						<div>
							<div class="span2">
								
								<%= image_tag("Nalini Marthi.png", :class => "member-image", :alt => "Nalini Marthi") %>
							</div>
							<div>
								<b>Nalini Marthi</b>
								<br><i>25 years of experience | Teacher, DLRL (DRDO), Intergraph, IIC, Entrepreneur</i>
								<br><br>
								<span class="label label-primary">R&D</span>
								<span class="label label-info">IT & ITES</span>
								<span class="label label-primary">Recruitment</span>
								<span class="label label-info">Product & Process Identification</span>
								<span class="label label-primary">Strategic Planning</span>
								<span class="label label-info">Program and Project Management</span>
								
								<br>
								<br><i>Website: <a href="www.myriadstars.biz">www.myriadstars.biz</a></i> 
								
							
							</div>
					</td></tr>
					
					<tr><td>
					</td></tr>
					<tr><td>
						<div>
							<div class="span2">
								
								<%= image_tag("Vinay Kumar.png", :class => "member-image") %>
							</div>
							<div>
								<b>Vinay Kumar</b>
								<br><i>21 years of experience | Worked for MECON, RPG, E&Y, World Bank etc.</i>
								<br><br>
								<span class="label label-primary">Market Research</span>
								<span class="label label-info">CRM</span>
								<span class="label label-primary">Salesforce Effectiveness</span>
								<span class="label label-info">Market Strategy</span>
								<span class="label label-primary">Pricing</span>
								<span class="label label-info">Qualitative Research</span>
								<span class="label label-primary">Growth Strategy</span>
								<span class="label label-info">Strategy</span>
								<span class="label label-primary">PE</span>
								<span class="label label-info">M&A</span>
								<span class="label label-primary">Corporate </span>
								<span class="label label-info">Finance</span>
								<span class="label label-primary">Case Studies presented in London School of Business</span>
								<span class="label label-info">AMA and papers</span>

								<br>
								<br><i>Mail: <a href="mailto:vinay@mydatawise.com ">vinay@mydatawise.com </a> Website: <a href="www.mydatawise.com">www.mydatawise.com</a></i> 
								
							
							</div>
					</td></tr>
					
					
					<tr><td>
					</td></tr>
					<tr><td>
						<div>
							<div class="span2">
								
								<%= image_tag("Shankar.jpg", :class => "member-image") %>
							</div>
							<div>
								<b>Vinay Kumar</b>
								<br><i>21 years of experience | News Reporting, Public Relations & Corporate Communications and runs his independent management consulting that helps TELL a client story to build Reputation and Branding</i>
								<br><br>
								<span class="label label-primary">CSR</span>
								<span class="label label-info">Stakeholder Engagement</span>
								<span class="label label-primary">Internal Communications</span>
								<span class="label label-info">Media Relationsy</span>
								<span class="label label-primary">Brand & Reputation Management</span>
								<span class="label label-info">Issue & Crisis Communications</span>
								<span class="label label-primary">Social Media| Event & Sponsorship</span>
								<span class="label label-info">Marketing Communications</span>
								
								<br>
								<br><i>Mail: <a href="mailto:Shankar@sparadigm.in">Shankar@sparadigm.in </a> Website: </i> 
								
							
							</div>
					</td></tr>
					
					
					<tr><td>
					</td></tr>
					<tr><td>
						<div>
							<div class="span2">
								
								<%= image_tag("Seshadri P.png", :class => "member-image", :alt => "Seshadri P") %>
							</div>
							<div>
								<b>Seshadri P</b>
								<br><i>21 years of experience | Worked at Ispat & other firms</i>
								<br><br>
								<span class="label label-primary">Integrated Management Systems</span>
								<span class="label label-info">Business Excellence Models</span>
								<span class="label label-primary">Sustainability Reporting</span>
								<span class="label label-info">CSR Implementation (ISO 26000) </span>
								<span class="label label-primary">Workplace Improvements</span>
								
								<br>
								<br><i>Mail: <a href="mailto:seshadri@odchyd.com">seshadri@odchyd.com </a> Website: <a href="www.odchyd.com">www.odchyd.com</a></i> 
								
							
							</div>
					</td></tr>
					
					<tr><td>
					</td></tr>
					<tr><td>
						<div>
							<div class="span2">
								
								<%= image_tag("Amar.JPG", :class => "member-image", :alt => "Amar Chegu") %>
							</div>
							<div>
								<b>Amar Chegu</b>
								<br><i>18 years of experience</i>
								<br><br>
								<span class="label label-primary">Organization Development</span>
								<span class="label label-info">Managerial Effectiveness</span>
								<span class="label label-primary">Leadership Facilitation</span>
								
								<br>
								<br><i>Mail: <a href="mailto:amar@betterenterprise.in">amar@betterenterprise.in </a> Website: <a href="www.betterenterprise.in ">www.betterenterprise.in</a></i> 
								
							
							</div>
					</td></tr>
					<tr><td>
					</td></tr>
					
					
					
					
				</tbody>	
			</table>
			
			</div>
			<div class="tab-pane" id="FindaConsultant">
				
				<div class="span12">
					<%= image_tag("underconstruction.jpeg", :class => "pull-left pull-down") %>
				</div>
				<p>Under Construction</p>  
				
				
			</div>
		</div><!-- tab-content -->
	</div><!-- col -->
</div><!-- row -->
</div>
